
.container {
    margin: 0 auto;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .container {
        width: 66.66%;
    }

}

.news-article-header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
/* .headline-container {
    display: flex;
    flex-direction: column;
   
} */

.headline {
    font-size: 2em;
}
@media screen and (min-width: 768px){
    .headline {
        font-size: 3em
    }
}

.author-info {
    margin-top: 10px;
}

.author-name {
    font-weight: bold;
}

.publication {
    font-style: italic;
    margin-left: 5px;
}

.article-details {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-date {
    margin-right: 10px;
}

.logo {
    width: 15px;
    height: 15px;
}

.button {
    display: block;
    margin: 50px auto 0;
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button2 {
    margin-bottom: 50px;
}


  