/* YourComponent.css */
.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    max-height: 50vh; /* Adjust as needed */
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .text-container {
    padding: 16px;
  }
  
  .publication-title {
    font-size: 18px;
    margin: 0;
  }
  
  .heading {
    font-size: 36px; /* Double the size of publication title */
    margin: 8px 0;
  }
  
  .byline {
    font-size: 14px;
    color: #888;
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .card {
      width: 66.67%;
      margin: 0 auto;
      max-width: 800px; /* Adjust as needed */
      margin-bottom: 20px;
    }

    .card:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
        cursor: pointer; /* Change cursor to a pointer on hover */
      }
  }